{% extends "base.html" %}

{% block title %}Contact Us - PoolBNB{% endblock %}

{% block content %}

<main class="hero-banner d-flex">
    <!--page heading -->
        <div class="container py-5">
            <div class="row align-text-start">
                <h2 class="text-center text-white mb-5">Contact Us!</h2>
            </div>
 
    <!--Body-->
        <div class="row align-text-start">

            <div class="col-md-6 mb-4">
             <img src="../website/static/images/contact_map.png" class="img-fluid" alt="Map">
            </div>

            <div class="col-md-6">
                <h4 class="text-white mb-3">Get in Touch</h4>
                <p class="text-white">If you have any questions, feedback, or need assistance, feel free to reach out to us. We're here to help!</p>
                <p class="text-white">
                    <strong>Email:</strong>
                    <p>support@poolbnb.com</p>
                    <strong>Phone:</strong>
                    <p>0400 000 000</p>
                    <strong>Head Office:</strong>
                    <p>QUT Gardens Point, Brisbane City QLD 4000, Australia</p>
                </p>



        </div>






</main>

{% endblock %}